<!DOCTYPE html>
<html th:replace="baseAdmin::html" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AdminProduits</title>
</head>
<body>
<div th:fragment="content">
    <main class="py-5">
        <div class="container">
            <h1>Gestion des articles</h1>
            <p>Nombres d'articles : <span th:text="${produits.size()}"></span></p>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Catégorie</th>
                    <th>Stock</th>
                    <th>Date de création</th>
                    <th>Date de modification</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>
</body>
</html>